* {
  padding: 0px;
  border: 0px;
  margin: 0px;

  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to bottom, #6BB9CE, orange);
}

header {
  background-color: #6BB9CE;
  display: block;
}

#header-title {
  color: black;
  font-family: arial;
  font-weight: 900;
  font-size: x-large;
}

a {
  text-decoration: none;
}

#header-search-bar {
  width: 30%;
  color: white;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  padding: 9px;
}


#search-bar-text {
  opacity: 0.7;
}

#header-login {
  color: black;
}

nav {

  background-color: #6BB9CE;
  color: black;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 10px 50px 0px 50px;
}

button {
  margin: 0px 10px;
}

#main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main-container-right {
  width: 100vw;
  /* min-height: 80vh; */
  background-image: linear-gradient(to bottom, lightblue, orange);
}

#main-container-header {
  display: flex;
  justify-content: space-around;
}

#main-container-content,
#second-main-container-content,
#third-main-container-content,
#fourth-main-container-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}



.main-container-photos {
  width: 33vw;
  color: black;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.main-container-photos>div {
  text-align: center;
  width: 100%;
}

.main-container-photos .main-container-image {
  width: 30vw;
  height: 30vh;
}

.content-photos {
  padding: 10px 0 15px 0;
  width: 70%;
  height: 100%;
  object-fit: contain;
}

.monster-ecology {
  font-size: 1rem;
  text-align: left;
  color: black;
}

.monster-name {
  color: black;
}

h1 {
  color: black;
}

#form-custom-monster {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 10vw;
  color: white;
}

#left-side-icons-1 {

  height: 2vh;
}

#left-side-icons-2 {

  height: 2vh;
}

#left-side-icons-3 {

  height: 2vh;
}

#left-side-icons-4 {

  height: 2vh;
}

footer {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  background: #1e1e1e;
  color: white;
  padding: 40px 20px;
  margin-top: 3rem;
}

footer div {
  justify-content: space-evenly;
  width: 100vw;
  padding-top: 10px;
}

footer div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
}

.footer-icons svg {
  display: block;
  margin: 8px 0;
  width: 24px;
  height: 24px;
  color: white;
}

#footer-links {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
}

ul {
  list-style: none;
}


.zoom {
  /* padding: 20px; */
  transition: transform .2s;
  /* width: 15vw;
  height: auto;
  margin: 0 auto; */
}

.zoom:hover {
  transform: scale(1.06);
}



#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#parallax::before {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100px;
  height: 100px;
  z-index: 10000;
}

#parallax::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  z-index: 10000;
}

#parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

#text {
  position: relative;
  color: #ffffff;
  font-size: 10rem;
  z-index: 1;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

label {
  display: block;
}

#monster-name-required-error,
#monster-type-required-error,
#monster-weakness-required-error,
#monster-element-required-error {
  color: red;
  font-weight: bold;
  visibility: hidden;
}

#monsters-agenda {
  display: flex;
  flex-direction: column;
}

form {
  display: block;
  width: 100%;
  margin: 0.1rem;
  padding: 0.1rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
  width: 80%;
  margin-inline: 1rem auto;
}

#form-and-display {
  width: 100%;
  display: grid;
  justify-items: center;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 992px) {

  .main-container-photos {
    width: 40vw;
  }

  .main-container-photos .main-container-image {
    width: 40vw;
    height: 40vh;
  }

  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }
  .reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

}

@media (max-width: 600px) {

  .main-container-photos {
    width: 80vw;
  }

  .main-container-photos .main-container-image {
    width: 80vw;
    height: 80vw;
  }

  .content-photos {
    width: 80vw;
    height: 80vw;
    object-fit: contain;
  }


  /* .main-container-photos {

    width: 80vw;
  }

  

  .main-container-photos .main-container-image {
    width: 85vw;
    height: 16vw;
  } */

  header {
    float: none;
    display: block;
    text-align: left;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  nav a {
    background-image: linear-gradient(to right, rgb(0, 0, 0), white);
  }

  button,
  #hide-me {
    visibility: hidden;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}